<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Veterinaria{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
  
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('listar_clientes') }}">Clientes</a></li>
                    <li><a href="{{ url_for('listar_mascotas') }}">Mascotas</a></li>
                    <li><a href="{{ url_for('listar_citas') }}">Citas</a></li>
                    <li><a href="{{ url_for('listar_inventario') }}">Inventario</a></li>
                    <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                    <li><a href="{{ url_for('register') }}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>