<!-- templates/citas.html -->
{% extends "base.html" %}

{% block title %}Gestión de Citas{% endblock %}

{% block content %}
<div class="container">
    <h1>Citas</h1>
    
    <!-- Campo de búsqueda con botón -->
    <div class="search-container">
        <input type="text" id="citasSearch" placeholder="Buscar en citas..." class="search-bar">
        <!--<button type="button" class="btn-search" id="searchButtonCitas">Buscar</button>-->
    </div>
    
    <table class="styled-table" id="citasTable">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Motivo</th>
                <th>Mascota</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
            <tr>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.motivo }}</td>
                <td>{{ cita.mascota.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Registrar Nueva Cita</h2>
    <form action="/agregar_cita" method="POST" class="form-container">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required>
        
        <label for="motivo">Motivo:</label>
        <input type="text" id="motivo" name="motivo" required>
        
        <label for="mascota_id">Mascota:</label>
        <select id="mascota_id" name="mascota_id" required>
            {% for mascota in mascotas %}
            <option value="{{ mascota.id }}">{{ mascota.nombre }}</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="btn-submit">Registrar Cita</button>
    </form>
</div>
{% endblock %}