{% extends "base.html" %}

{% block title %}Gestión de Clientes{% endblock %}

{% block content %}
<div class="container">
    <h1>Clientes</h1>
    
    <!-- Campo de búsqueda con botón -->
    <div class="search-container">
        <input type="text" id="clientesSearch" placeholder="Buscar en clientes..." class="search-bar">
        <!--<button type="button" class="btn-search" id="searchButtonClientes">Buscar</button>-->
    </div>
    
    <table class="styled-table" id="clientesTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Registrar Nuevo Cliente</h2>
    <form action="/agregar_cliente" method="POST" class="form-container">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" required>
        
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>
        
        <button type="submit" class="btn-submit">Agregar Cliente</button>
    </form>
</div>
{% endblock %}
