{% extends "base.html" %}

{% block title %}Gestión de Inventario{% endblock %}

{% block content %}
<div class="container">
    <h1>Inventario</h1>
    
    <!-- Campo de búsqueda con botón -->
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Buscar en inventario..." class="search-bar">
        <!--<button type="button" class="btn-search" id="searchButtonInventario">Buscar</button>-->
    </div>
    
    <table class="styled-table" id="dataTable">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Registrar Nuevo Producto</h2>
    <form action="/agregar_producto" method="POST" class="form-container">
        <label for="nombre">Producto:</label>
        <input type="text" id="nombre" name="nombre" required>
        
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required>
        
        <label for="precio">Precio:</label>
        <input type="number" step="0.01" id="precio" name="precio" required>
        
        <button type="submit" class="btn-submit">Registrar Producto</button>
    </form>
</div>
{% endblock %}